language: python
python:
  - "3.6"
# command to install dependencies
install:
  - sudo apt-get -qq update
  - sudo apt-get install python-dev swig libxml2-dev zlib1g-dev libgmp-dev
  - pip install pytest coveralls pytest-cov==2.6
  - pip install -e .
# command to run tests
script:
  - python -m pytest -v --cov goldenhinges --cov-report term-missing

after_success:
  - coveralls
